html {
  margin: 0;
  font-family: Domine;
  font-size: 16px;
}

.heading {
  font-family: Dancing Script;
  font-size: 3rem;
  color: #05546a;
}

.content {
  margin: 40px auto;
  padding: 20px;
}

/* NAVBAR STYLES */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  white-space: nowrap;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  color: #05546a;
  padding: 6px;
}

.navbar a:hover {
  color: #3a94ad;
}

/* HOME PAGE STYLES */

.home {
  min-width: 800px;
  max-width: 1000px;
}

.text-home {
  margin-left: 70px;
}

.img-home {
  float: right;  
  margin-bottom: 30px;
  max-width: 500px;
  max-height: 400px;
}

button {
  background-color: #05546a;
  font-family: Domine;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

/* REGISTER AND LOGIN PAGE STYLES */

.input-form {
  max-width: 50%;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
}

label {
  margin: 6px;
}

input {
  display: list-item;
  min-width: 70%;
  padding: 7px 20px;
  margin: 8px 0;
  border: 1.5px solid #05546a;
  border-radius: 4px;
  font-size: 16px; 
  font-family: Domine;
}

.register-checkbox {
  accent-color: #05546a;
  display: inline-block;
  height: 15px;
  margin-top: 5%;
}

.submit-button {
  background-color: #05546a;
  font-family: Domine;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  margin-top: 5%;
  min-width: 20%;
}