html {
  margin: 0;
  font-family: Domine;
  font-size: 16px;
}

.heading {
  font-family: Dancing Script;
  font-weight: 400;
  font-size: 3rem;
  color: #054d61;
  letter-spacing: 1px;
}

.content {
  margin: 40px auto;
  padding: 20px;
}

/* NAVBAR STYLES */

.navbar {
  font-size: 1.2em;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  white-space: nowrap;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #05546a;
  padding: 6px;
}

.navbar a:hover {
  color: #3a94ad;
}

.navbar button {
  font-family: Domine;
  font-size: 20px;
  border-radius: 20%;
  border: none;
  background-color: white;
  margin-left: 16px;
  text-decoration: none;
  color: #05546a;
  padding: 6px;
}

.navbar button:hover {
  color: #3a94ad;
  cursor: pointer;
}

.active {
  border-bottom: 1px solid #033442;
}

/* NAVBAR MOBILE */

.navbar-mobile {
  display: none;
}

/* HOME PAGE STYLES */

.home {
  min-width: 800px;
  display: flex;
  justify-content: center;
}

.home-text {
  padding: 10px;
  margin: 30px;
  min-width: 50%;
  text-align: center;
}

.home-text h3 {
  font-family: Dancing Script;
  font-weight: 100;
  font-size: 2.2em;
  margin-bottom: 8%;
}

.home-text p {
  margin: 7%;
}

.home-img {
  padding: 20px;
  min-width: 50%;
  margin-left: auto 0;
}

.img-home {
  max-width: 85%;
  min-height: 90%;
  padding: 10px;
  margin: 10px;
}

.link-home {
  text-decoration: none;
  background-color: #05546a;
  font-family: Dancing Script;
  font-size: 1.4em;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
}

.link-home:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.space-around {
  margin-bottom: 30px;
  white-space: nowrap;
}


/* REGISTER AND LOGIN PAGE STYLES */

.register {
  width: 100%;
  height: fit-content;
  padding: 30px;
  background-image: url('../public/images/ocean.jpg');
  background-repeat: no-repeat;
}

.login {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 30px;
  background-image: url('../public/images/ocean.jpg');
  background-repeat: no-repeat;
}

.input-form-register {
  margin: 0 auto;
  min-width: fit-content;
  max-width: 25%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  white-space: nowrap;
}

.input-form {
  margin: auto;
  min-width: fit-content;
  max-width: 25%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px;
  white-space: nowrap;
}

label {
  display: block;
  margin-bottom: 2%;
}

input {
  display: list-item;
  background-color: white;
  min-width: 70%;
  border: none;
  outline: none;
  border-bottom: 1.3px solid #f2f2f2;
  margin-bottom: 5%;
  padding: 5px 10px;
  font-size: 16px;
  font-family: Domine;
}

.register-checkbox {
  accent-color: #05546a;
  display: inline-block;
  height: 15px;
  margin-left: 0px;
  margin-top: 6%;
}

.submit-button {
  background-color: #05546a;
  font-family: Dancing Script;
  font-size: 1.4em;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  margin-top: 7%;
  min-width: 30%;
}

.submit-button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.success-register-login {
  justify-content: center;
}

.success-register-login h3 {
  text-align: center;
  margin-bottom: 40%;
}

.success-register-login p {
  text-align: center;
}

.link-login {
  text-decoration: none;
  background-color: #05546a;
  font-family: Dancing Script;
  font-size: 1.4em;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
}

.link-login:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* MOOD PAGE STYLES */

.mood {
  background-image: url('../public/images/ocean.jpg');
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mood-description {
  background-color: white;
  width: 300px;
  height: 250px;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}


.mood-description h2 {
  font-family: Dancing Script;
  font-weight: 100;
  margin: 0;
  font-size: 2em;
  color: #05546a;
}

/* PRACTICE PAGE STYLES */

.practice {
  min-width: 800px;
  margin: 0 50px 0 50px;
  display: flex;
  justify-content: center;
}

.practice-links {
  display: inline-block;
  text-align: center;
  min-width: 50%;
  min-height: 500px;
  margin: 0 50px;
  background-color: #033442;
}

.practice-img {
  display: inline-block;
  min-width: 50%;
  min-height: 500px;
  background-image: url('../public/images/ocean.jpg');
}

.link-practice {
  display: inline-block;
  margin-top: 20%;
  width: 30%;
  min-width: fit-content;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  background-color: white;
  font-family: Domine;
  letter-spacing: 5px;
  color: #05546a;
  border: none;
  border-radius: 30px;
  padding: 20px 40px 20px 40px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 5px 15px;
}

.link-practice:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  cursor: pointer;
}

/* PRACTICE NOW PAGE STYLES */

.practice-now {
  min-width: 800px;
  margin: 0 50px 0 50px;
  display: flex;
  justify-content: center;
}

.practice-now-img {
  display: inline-block;
  min-width: 50%;
  min-height: 500px;
  background-image: url('../public/images/ocean.jpg');

}

.practice-now-text {
  display: inline-block;
  text-align: center;
  min-width: 50%;
  min-height: 500px;
  margin: 0 50px;
}

.practice-now-text h2 {
  margin: 0 auto;
  font-family: Dancing Script;
  font-weight: 100;
  font-size: 2em;
  letter-spacing: 3px;
  white-space: nowrap;
}

.practice-now-go-back {
  display: block;
  white-space: nowrap;
  margin-bottom: 20px;
}

.practice-now-go-back button {
  background-color: white;
  color: #05546a;
  font-size: 1.2em;
  font-family: Domine;
  border: none;
}

.practice-now-go-back button:hover {
  color: #3a94ad;
  cursor: pointer;
}

.feeling {
  font-family: Domine;
  font-size: 1.4em;
  letter-spacing: 5px;
  min-width: 100%;
  margin: 5%;
  padding: 5%;
  background-color: white;
  border: none;
  border-bottom: 1.5px solid #f2f2f2;
}

.feeling:hover {
  border-bottom: 1px solid #05546a;
  cursor: pointer;
}

/* MY PRACTICE PAGE STYLES */

.my-practice {
  display: flex;
  font-family: Domine;
  letter-spacing: 2px;
}

.my-practice-text {
  display: inline-block;
  padding-top: 3%;
  min-width: 546px;
  width: 50%;
  text-align: center;
  margin-top: 30px;
}

.my-practice-text h2 {
  font-family: Domine;
  font-weight: 100;
  letter-spacing: 3px;
}

.my-practice-text h3 {
  font-family: Dancing Script;
  font-size: 1.8em;
  font-weight: 100;
  letter-spacing: 3px;
}

.my-practice-text p {
  margin-top: 40%;
}

.my-practice-image {
  display: inline-block;
  text-align: center;
  height: 100vh;
  width: 40%;
  min-width: 350px;
}

.img-my-practice {
  display: block;
  border-radius: 50%;
  margin: 20% auto;
  width: 200px;
  height: 200px;
}

.my-practice-upload .input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.my-practice-upload label {
  border: 1px solid black;
  margin: 0 auto;
  padding: 2% 0;
  max-width: 400px;
}

.my-practice-upload label:hover {
  cursor: pointer;
}

.my-practice-upload .save-photo-button {
  background-color: #05546a;
  padding: 2%;
  border-radius: 10px;
  font-family: Dancing Script;
  color: white;
}

.my-practice-upload .save-photo-button:hover {
  cursor: pointer;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.my-practice-yes-no p {
  white-space: nowrap;
}

.my-practice-yes-no-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.my-practice-yes-no-buttons .yes-no {
  background-color: #05546a;
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
  font-family: Dancing Script;
  color: white;  
}

.my-practice-yes-no-buttons .yes-no:hover {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.my-practice-go-back {
  display: block;
  max-height: fit-content;
  white-space: nowrap;
  margin-bottom: 20px;
}

.my-practice-go-back button {
  background-color: white;
  color: #05546a;
  font-size: 1.2em;
  font-family: Domine;
  border: none;
}

.my-practice-go-back button:hover {
  color: #3a94ad;
  cursor: pointer;
}

.my-practice-image button {
  display: block;
  font-family: Domine;
  font-size: 1.2em;
  letter-spacing: 3px;
  background-color: white;
  border: none;
  white-space: nowrap;
  margin: 30px auto;
}

.my-practice-image button:hover {
  color: #3a94ad;
  cursor: pointer;
}

/* CHART STYLES */

.chart {
  margin: 0 auto;
  position: relative;
  width: 70%;
}

/* INTENTION PAGE STYLES */

.intention {
  width: 100%;
  height: 100vh;
}

.intention-presentation {
  background-color: #033442;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  width: 50%;
  height: 100vh;
  border: 1px solid #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}

.intention-presentation h3 {
  margin: 30px 0 30px 0;
  font-family: Dancing Script;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 2px;
}

.intention-presentation p {
  margin: 20%;
  letter-spacing: 3px;
  line-height: 2;
}

.intention button {
  background-color: white;
  color: #05546a;
  font-size: 1.2em;
  font-family: Domine;
  border: none;
}

.intention button:hover {
  color: #3a94ad;
  cursor: pointer;
}

/* INFO PAGE STYLES */
.info {
  display: flex;
  justify-content: center;
}

.info-text {
  width: 50%;
  height: 100vh;
  padding: 3%;
  text-align: left;
}

.info-text h3 {
  font-family: Dancing Script;
  color: #054d61;
  font-weight: 100;
  font-size: 1.7em;
}

.info-text p {
  line-height: 1.4;
  letter-spacing: 1px;
}

.info-text p a {
  color: #033442;
}

/* TOAST STYLES */
.toast-body {
  text-align: center;
  font-family: Domine;
  letter-spacing: 3px;
  color: #05546a;
  padding: 5px;
  border-radius: 5px;
}

/* NOT FOUND PAGE STYLES */

.not-found {
  font-family: Domine;
  margin-left: 70px;
  letter-spacing: 2px;
}

/* MEDIA QUERY FOR MOBILE DEVICES */

@media screen and (max-width: 600px) {

  .content {
    margin: 0 auto;
    padding: 0;
  }

  /* NAVBAR MOBILE */

  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    align-items: center;
    min-width: 340px;
  }

  .navbar-mobile .links {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #033442;
    opacity: 0.9;
    top: 20%;
    width: 100%;
  }

  .navbar-mobile a {
    white-space: nowrap;
    line-height: 3;
    letter-spacing: 3px;
    color: white;
    text-decoration: none;
    padding-left: 10%;
  }

  .navbar-mobile button {
    font-family: Domine;
    font-size: 1.05em;
    letter-spacing: 3px;
    line-height: 3;
    opacity: 0.9;
    background-color: #033442;
    border: none;
    color: white;
    cursor: pointer;
    text-align: left;
    padding-left: 10%;
  }

  .hamburger-icon {
    position: absolute;
    right: 5%;
    width: 8%;
    height: 8%;
    color: #05546a;
    cursor: pointer;
  }

  .close-icon {
    position: absolute;
    right: 5%;
    width: 8%;
    height: 8%;
    color: #05546a;
    cursor: pointer;
  }

  /* HOME MOBILE */

  .home {
    display: block;
    max-width: 100vw;
  }

  .home-text {
    padding: 0;
    width: 40%;
  }

  .home-text p {
    margin: 8% 0;
  }

  .home-image {
    width: 40%;
  }

  .img-home {
    text-align: center;
    max-width: 50%;
  }


  /* REGISTER, LOGIN MOBILE*/

  .register,
  .login {
    width: 80%;
  }

  /* MOOD MOBILE*/

  .mood {
    margin: 0 auto;
    width: 90%;
  }

  /* PRACTICE MOBILE */

  .practice {
    display: block;
    margin: 0;
  }

  .practice-img {
    margin: 6%;
  }

  /* PRACTICE NOW MOBILE */

  .practice-now {
    display: block;
  }

  .practice-now-text {
    margin: 6% 0;
  }

  .feeling {
    margin: 3% 0;
  }

  /* MY PRACTICE MOBILE */

  .my-practice {
    display: block;
  }

  .my-practice-text {
    width: 100vw;
    padding: 0;
  }

  .my-practice-image {
    width: 100vw;
  }

  .chart {
    margin: 0 auto;
  }

  /* INTENTION MOBILE */

  .intention {
    width: 90%;
    height: 100vh;
  }

  .intention-presentation {
    margin: 5% 0;
  }

  /* INFO MOBILE */
  .info-text {
    width: 70%;
  }

}