html {
  margin: 0;
  font-family: Domine;
  font-size: 16px;
}

.heading {
  font-family: Dancing Script;
  font-size: 3rem;
  color: #044152;
  letter-spacing: 1px;
}

.content {
  margin: 40px auto;
  padding: 20px;
}

/* NAVBAR STYLES */

.navbar {
  font-size: 1.2em;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  white-space: nowrap;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #05546a;
  padding: 6px;
}

.navbar a:hover {
  color: #3a94ad;
}

.navbar button {
  font-family: Domine;
  font-size: 20px;
  border-radius: 20%;
  border: none;
  background-color: white;
  margin-left: 16px;
  text-decoration: none;
  color: #05546a;
  padding: 6px;
}

.navbar button:hover {
  color: #3a94ad;
  cursor: pointer;
}

/* HOME PAGE STYLES */

.home {
  min-width: 800px;
  display: flex;
  justify-content: center;
}

.home-text {
  padding: 20px;
  min-width: 50%;
  text-align: center;
}

.home-text h3 {
  font-family: Dancing Script;
  font-size: 2em;
  margin-bottom: 8%;
}

.home-text p {
  margin: 7%;
}

.home-img {
  padding: 20px;
  min-width: 50%;
  margin-left: auto 0;
}

.img-home {
  max-width: 85%;
  min-height: 120%;
}

.link-home {
  text-decoration: none;
  background-color: #05546a;
  font-family: Dancing Script;
  font-size: 1.4em;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
}

.link-home:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.space-around {
  margin-bottom: 30px;
  white-space: nowrap;
}


/* REGISTER AND LOGIN PAGE STYLES */

.register,
.login {
  width: 100%;
  height: 100vh;
  background-image: url('../public/images/login-ocean.jpg');
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  overflow: auto;
}

.input-form {
  min-width: 25%;
  max-height: 90%;
  min-height: 40%;
  position: absolute;
  vertical-align: middle;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  display: inline-block;
  margin-bottom: 2%;
}

input {
  display: list-item;
  background-color: white;
  min-width: 70%;
  border: none;
  outline: none;
  border-bottom: 1.3px solid #f2f2f2;
  margin-bottom: 5%;
  padding: 5px 10px;
  font-size: 16px;
  font-family: Domine;
}

.register-checkbox {
  accent-color: #05546a;
  display: inline-block;
  height: 15px;
  margin-left: 0px;
  margin-top: 6%;
}

.submit-button {
  background-color: #05546a;
  font-family: Dancing Script;
  font-size: 1.4em;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  margin-top: 7%;
  min-width: 30%;
}

.submit-button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.success-register-login {
  justify-content: center;
}

.success-register-login h3 {
  text-align: center;
  margin-bottom: 40%;
}

.success-register-login p {
  text-align: center;
}

.link-login {
  text-decoration: none;
  background-color: #05546a;
  font-family: Dancing Script;
  font-size: 1.4em;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
}

.link-login:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* MOOD PAGE STYLES */

.mood {
  background-image: url('../public/images/login-ocean.jpg');
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mood-description {
  background-color: white;
  width: 300px;
  height: 250px;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}


.mood-description h2 {
  font-family: Dancing Script;
  margin: 0;
  font-size: 2em;
  color: #05546a;
}

/* PRACTICE PAGE STYLES */

.practice {
  min-width: 800px;
  margin: 0 50px 0 50px;
  display: flex;
  justify-content: center;
}

.practice-links {
  display: inline-block;
  text-align: center;
  min-width: 50%;
  min-height: 500px;
  margin: 0 50px;
  background-color: #033442;
}

.practice-img {
  display: inline-block;
  min-width: 50%;
  min-height: 500px;
  background-image: url('../public/images/login-ocean.jpg');

}

.link-practice {
  display: inline-block;
  margin-top: 20%;
  width: 30%;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  background-color: white;
  font-family: Domine;
  letter-spacing: 5px;
  color: #05546a;
  border: none;
  border-radius: 30px;
  padding: 20px 40px 20px 40px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 5px 15px;
}

.link-practice:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

/*  REMOVE IF BUTTON WONT BE USED */

/*
.practice button {
  background-color: white;
  color: #05546a;
  white-space: nowrap;
  font-size: 1.2em;
  font-family: Domine;
  border: none;
}

.practice button:hover {
  color: #3a94ad;
  cursor: pointer;
} */

/* PRACTICE NOW PAGE STYLES */

.practice-now {
  min-width: 800px;
  margin: 0 50px 0 50px;
  display: flex;
  justify-content: center;
}

.practice-now-img {
  display: inline-block;
  min-width: 50%;
  min-height: 500px;
  background-image: url('../public/images/login-ocean.jpg');

}

.practice-now-text {
  display: inline-block;
  text-align: center;
  min-width: 50%;
  min-height: 500px;
  margin: 0 50px;
}

.practice-now-text h1 {
  margin: 0 auto;
  font-family: Dancing Script;
  letter-spacing: 3px;
  white-space: nowrap;
}

.feeling {
  font-family: Domine;
  font-size: 1.4em;
  letter-spacing: 5px;
  min-width: 100%;
  margin: 5%;
  padding: 5%;
  background-color: white;
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: inset rgba(0, 0, 0, 0.20) 0px 5px 10px;
}

.feeling:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

/* MY PRACTICE PAGE STYLES */

.my-practice {
  font-family: Domine;
  margin-left: 70px;
  letter-spacing: 2px;
}

.my-practice button {
  background-color: white;
  color: #05546a;
  font-size: 1.2em;
  font-family: Domine;
  border: none;
}

.my-practice button:hover {
  color: #3a94ad;
  cursor: pointer;
}



/* INTENTION PAGE STYLES */

.intention {
  width: 100%;
  height: 100vh;
}

.intention-presentation {
  background-color: #033442;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  width: 50%;
  height: 100vh;
  border: 1px solid #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}

.intention-presentation h3 {
  margin: 30px 0 30px 0;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 2px;
}

.intention-presentation p {
  margin: 20%;
  letter-spacing: 3px;
  line-height: 2;
}

.intention button {
  background-color: white;
  color: #05546a;
  font-size: 1.2em;
  font-family: Domine;
  border: none;
}

.intention button:hover {
  color: #3a94ad;
  cursor: pointer;
}

/* NOT FOUND PAGE STYLES */

.not-found {
  font-family: Domine;
  margin-left: 70px;
  letter-spacing: 2px;
}